* {
    transition: background-color color .3s;
}

body {
    background-color: #95d3ff40;
}

.container {
    background-color: #fff;
}

.logo {
    color: #000;
}

.header {
    background-color: #fff;
}

.categories__menu {
    background-color: steelblue;
}

.categories__menu-item:hover {
    background-color: rgba(0, 0, 0, .1);
}

.active-category {
    background-color: rgba(0, 0, 0, .1);
}

.products-list__item {
    border: 3px solid #f5f5f5;
}

.cart-status__button {
    background-color: steelblue;
}

.cart-status__count {
    background-color: #000;
    color: #fff;
}

.toggle__fill {
    box-shadow: none;
    background-color: #171d1c;
}

.toggle__fill::before {
    left: 20px;
    background-color: #ec0505;
}

.cart {
    background-color: #fff;
}

.cart-list__item {
    border: 1px solid #d6b0b0;
}