body {
    background-color: #95d3ff40;
}

.container {
    background-color: #fff;
}

.header {
    background-color: #fff;
}

.categories__menu {
    background-color: steelblue;
}

.cart-status__button {
    background-color: steelblue;
}

.cart-status__count {
    background-color: #000;
    color: #fff;
}

.toggle__fill {
    box-shadow: none;
    background-color: #171d1c;
}

.toggle__fill::before {
    left: 20px;
    background-color: #ec0505;
}