.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0px 6px 6px -2px rgb(34 60 80 / 35%);
    margin-bottom: 3.5rem;
}

.header__left,
.header__right {
    display: flex;
    align-items: center;
}

.header__left {
    gap: 3rem;
}

.header__right {
    gap: 6rem;
}