.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    box-shadow: 0px 6px 6px -2px rgba(34, 60, 80, 0.2);
}

.header__left,
.header__right {
    display: flex;
    align-items: center;
}

.header__left {
    gap: 3rem;
}

.header__right {
    gap: 6rem;
}