.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0px 6px 6px -2px rgb(34 60 80 / 35%);
    margin-bottom: 3.5rem;
}

.header__left,
.header__right {
    display: flex;
    align-items: center;
}

.header__left {
    gap: clamp(1rem, 2.5vw, 3rem);
}

@media(max-width: 475px) {

    .header__left,
    .header__right {
        flex-direction: column;
    }

    .header__left {
        align-items: flex-start;
    }
}

.header__right {
    gap: clamp(1.4rem, 3.125vw, 3.75rem);
}