.cart-list__item {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    border-radius: .5rem;
    align-items: center;
}

.cart-list__item-image {
    width: 3.125rem;
    aspect-ratio: 1;
    margin-right: 0.5rem;
    border-radius: .5rem;
}

.cart-list__item-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.cart-list__item-delete {
    margin-left: 0.5rem;
}