.categories {
    position: relative;
}

.categories__button {
    position: relative;
    font-size: 1.1rem;
}

.categories__button::after {
    content: url('../../../../assets/images/icons/arrow.dropdown.svg');
    position: absolute;
    display: block;
    top: 20%;
    right: -20px;
    width: 13px;
    aspect-ratio: 1;
    transition: .3s;
}

.categories__menu {
    position: absolute;
    top: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.6rem;
    width: 9.375rem;
    border-radius: .6rem;
}