.products-list__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 20px;
    border-radius: .625rem;
}

.products-list__item-image {
    object-fit: contain;
    width: 100%;
    aspect-ratio: 1;
    margin-bottom: 10px;
}


.products-list__item-title,
.products-list__item-descr {
    max-height: 90px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.products-list__item-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.products-list__item-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-list__item-cart-button {
    padding: 5px;
    border-radius: 3px;
}