*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    font-family: sans-serif;
    height: 100%;
    padding: 40px;
    overflow: hidden;
}

.container {
    height: 100%;
    max-width: 90rem;
    margin: 0 auto;
    padding: .9375rem;
    padding-top: 0;
    border-radius: 1.3rem;
    overflow-y: auto;
}

.overlay {
    position: absolute;
    display: none;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.overlay-active {
    display: block;
}

@media (max-width: 767px) {
    body {
        padding: 0;
    }

    .container {
        padding: 0;
        border-radius: 0;
    }
}